input {
  @mixin size {
    width: 300px;
    height: 40px;
    position: fixed;
  }
  &[type="text"] {
    @extend .inp;
    @include size;
    bottom: 70px;
  }

  &[type="button"] {
    @extend .btn;
    @include size;
    bottom: 20px;
  }
}
:global(html) {
  height: 100vh;
  background: {
    repeat: no-repeat;
    color: $yanfei-pink;
    position: center;
    size: 100%;
    image: url(*/public/login.jpeg);
  }
}
