input {
  @mixin size {
    width: 300px;
    height: 40px;
    position: fixed;
  }
  &[type="text"] {
    @extend .inp;
    @include size;
    bottom: 70px;
  }

  &[type="button"] {
    @extend .btn;
    @include size;
    bottom: 20px;
  }
}
:global(html) {
  height: 100vh;
  background: {
    repeat: no-repeat;
    color: $yanfei-pink;
    position: center;
    size: 100%;
    image: url(/login.jpeg);
  }
}
#img {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: revert;
}
.inps {
  bottom: 120px !important;
}

.memu {
  $size: 30vh;
  position: fixed;
  bottom: calc(#{$size} / 2 * -1);
  right: calc(#{$size} / 2 * -1);
  width: $size;
  height: $size;
  border-radius: 100%;
  background-color: white-rgba(0.7);
  @include center;
  .chilun {
  }
}

.mimimiimi {
  position: fixed;
  top: 0%;
  left: 0%;
}
