.card {
  transition: 300ms background;
  width: 49%;
  height: 30vh;
  background-color: white-rgba(0.6);
  border-radius: 7px;
  margin-bottom: 1%;
  position: relative;

  &:hover {
    background-color: white-rgba(1);
  }

  &>p {
    position: absolute;
    top: 13vh;
    left: 5%;
    font-size: 14px;
    color: #999999;
    width: 60%;

    &:first-child {
      position: absolute;
      top: 7.5vh;
      left: 5%;
      color: black;
      font-size: 20px;
    }

    &:last-child {
      position: absolute;
      top: 15%;
      left: 2%;
    }
  }

  .gosee {
    position: absolute;
    border: {
      style: solid;
      radius: 2px;
      width: 2px;
      color: $yanfei-pink;
    }
    width: 15%;
    height: 20%;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include center;
  }
}

#last {
    width: 100%;

    &>p {
      width: 95%;
    }
  }

h1 {
  margin: 0%;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}
