@charset "utf-8";

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin widthCenter {
  display: flex;
  justify-content: center;
}

@mixin heightCenter {
  display: flex;
  align-items: center;
}

$yanfei-pink: #e8988f;
$yanfei-red: #c13b48;
$yanfei-yellow: #fbd1a9;
$yanfei-white: #fdfef9;
$vue-green: #40b883;

@function white-rgba($opc) {
  @return rgba($color: $yanfei-white, $alpha: $opc);
}

@function gray-rgba($opc) {
  @return rgba($color: #9f9f9f, $alpha: $opc);
}
