.main {
  background-color: white-rgba(0.4);
  transition: background 300ms;
  border-radius: 6px;
  &:hover {
    background-color: white-rgba(1);
    & .memuClick {
      & span {
        background-color: gray-rgba(0.8) !important;
      }
      background-color: gray-rgba(0.5) !important;
      &:hover {
        background-color: gray-rgba(0.8) !important;
      }
    }
    & .memuBtn {
      background-color: gray-rgba(0.5) !important;
    }
    & .sanjiao {
      background-color: gray-rgba(0.8) !important;
    }
  }
  .pageChunk {
    @include heightCenter;
    .sanjiao {
      transition: background 300ms;
      $size: 15px;
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
      background-color: gray-rgba(0.3);
      width: $size;
      height: $size;
      margin: 0 10px;
      &:first-child {
        transform: rotate(180deg);
      }
    }
  }
  .topbar {
    $topbarMargin: 10px;
    $selHeight: 40px;
    width: 100%;
    height: 70px;
    margin-top: $topbarMargin;
    border-bottom: 1px rgba($color: #000000, $alpha: 0.2) solid;
    .selTest {
      width: 100%;
      height: $selHeight;
      display: flex;
      .memuClick {
        position: relative;
        transition: border-radius 300ms, border-bottom-left-radius 0ms, border-bottom-right-radius 0ms, background 300ms;
        border: 0px;
        background-color: gray-rgba(0.2);
        border-radius: 3px;
        width: 230px;
        height: 100%;
        margin-left: 2%;
        @include heightCenter;
        padding-left: 10px;
        & span {
          transition: transform 300ms, background 300ms;
          display: block;
          background-color: gray-rgba(0.3);
          $size: 15px;
          width: $size;
          height: $size;
          transform: rotate(180deg);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
          position: absolute;
          top: calc(50% - ($size / 2));
          right: calc($size / 2);
        }
        &.show {
          border: {
            radius: 6px;
            bottom: {
              left-radius: 0px;
              right-radius: 0px;
            }
          }
          & span {
            transform: rotate(90deg);
          }
        }
      }
    }
    .lastRead {
      height: 70px - $selHeight;
      @include heightCenter;
      padding-left: 5%;
    }
    .memu {
      transition: height 400ms, border 300ms;
      position: absolute;
      top: $topbarMargin + $selHeight;
      width: 240px;
      height: 0px;
      left: calc(4% + 240px);
      overflow: hidden;
      z-index: 2;
      & > .pop {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100vh;
        z-index: 90;
      }
      & > .memuBtn {
        transition: background 300ms;
        white-space: nowrap;
        height: 30px;
        width: 100%;
        padding-left: 10px;
        @include heightCenter;
        z-index: 100;
        position: relative;
        backdrop-filter: blur(5px);
        background-color: gray-rgba(0.2);
        &:hover {
          background-color: gray-rgba(0.8) !important;
        }
      }
      &.onleft {
        left: 2%;
      }
      border-bottom: {
          left-radius: 3px;
          right-radius: 3px;
        }
      &.show {
        height: var(--i-height);
        border-bottom: {
          left-radius: 6px;
          right-radius: 6px;
        }
      }
    }
  }
  & ::-webkit-inner-spin-button,
  & ::-webkit-outer-spin-button {
    height: auto;
    -webkit-appearance: none;
  }
}

$transName: ".list";
#{$transName}-move,
#{$transName}-enter-active,
#{$transName}-leave-active {
  transition: all 0.5s ease;
}

#{$transName}-enter-from,
#{$transName}-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

#{$transName}-leave-active {
  position: absolute;
}
