  $barheight: 70px;

:global(body, html) {
  margin: 0 !important;
}

:global(body::before) {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  animation: backdropTo 200ms;
  animation-fill-mode: forwards;
  background-color: white-rgba(0.2);
  z-index: -1;
}

@keyframes backdropTo {
  0% {
     backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }

  100% {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
  }
}

@keyframes inputAd-top {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main {
  position: fixed;
  top: calc($barheight + 1vw);
  left: 16vw;
  width: 83vw;
  height: calc(100vh - $barheight - 1vw);
  animation: inputAd-top 500ms;
  animation-fill-mode: forwards;
  z-index: 1;
  overflow: auto !important;
}
