.main {
  width: 100vw;
  height: 100vh;
  background-color: white-rgba(0.8);
  overflow-y: auto;
  & .btn-topbar {
    height: 46px;
    transition: background 100ms ease-out, color 100ms ease-out;
    width: 75px;
    padding: 0px 5px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 6px;
    background: transparent;
    @include center;
    right: 20px;
    border: {
      style: solid;
      width: 2px;
      color: $yanfei-pink;
    }
    &:active {
      color: white-rgba(0.8);
      background-color: $yanfei-pink;
    }
  }
  & > .test {
    width: calc(100vw - 30px);
    margin: 0%;
    padding: 0%;
    margin-top: 70px;
    padding-left: 30px;
    & > li {
      width: calc(100% - 30px);
      min-height: 80px;
      margin-bottom: 6px;
      > p {
        font-size: 16px;
      }
      > .selbox {
        display: flex;
        width: 100%;
        height: 40px;
        margin-top: 1%;
        > * {
          padding: 0% 20px;
          height: 100%;
          @include center;
          margin-left: 1%;
          border: 1px gray-rgba(0.6) solid;
          border-radius: 6px;
        }
      }
    }
  }
}

.pageChunk {
  @include heightCenter;
  margin: {
    bottom: 30px;
    left: 30px;
    top: 10px;
  }
}

.selthis {
  background-color: rgba($color: $yanfei-red, $alpha: 0.6);
}
.warryPa {
  background-color: rgba($color: $yanfei-red, $alpha: 0.3) !important;
}
.truethis {
  background-color: rgba($color: $vue-green, $alpha: 0.6) !important;
}
.truePa {
  background-color: rgba($color: $vue-green, $alpha: 0.3);
}
