.main {
  width: 100vw;
  height: 100vh;
  .about {
    position: relative;
    width: 45vw;
    height: 35vw;
    background-color: white-rgba(0.8);
    border-radius: 6px;
    & table {
      width: 60%;
      height: 50%;
      margin-top: 5%;
      margin-left: 5%;
      & th {
        border-bottom: {
          width: 1px;
          style: solid;
          color: black;
        }
        text-align: left;
        vertical-align: bottom;
      }

      & * {
        font: {
          size: 17px;
          weight: normal;
        }
      }
    }
  }
  overflow: auto;
  .statrExem {
    z-index: 1;
    min-height: 100vh;
    background-color: white-rgba(0.9);
    width: 100vw;
    padding-top: 70px;
    & p {
      color: black;
    }
  }
  & .btn-topbar {
    height: 46px;
    transition: background 100ms ease-out, color 100ms ease-out;
    width: 61px;
    padding: 0px 5px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 6px;
    background: transparent;
    @include center;
    right: 20px;
    border: {
      style: solid;
      width: 2px;
      color: $yanfei-pink;
    }
    &:active {
      color: white-rgba(0.8);
      background-color: $yanfei-pink;
    }
  }
}

.btn-goto {
  margin: 0 auto;
  position: absolute;
  display: flex;
  bottom: 12px;
  left: 5%;
  button {
    transition: background 200ms cubic-bezier(0, 0.78, 0.65, 0.76);
    width: 20vw;
    border: 0px;
    height: 30px;
    background-color: white-rgba(1);
    border-radius: 3px;
    &:active {
      background-color: gray-rgba(0.8);
    }
    font-size: 19px;
  }
  @include widthCenter;
  button + button {
    margin-left: 10%;
  }
}
.center {
  @include center;
}
